* {
    box-sizing: border-box;
}

body {
    font: 14px monospace;
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 20px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    float: right;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
}

#userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin: 0 0 0 250px;
    background: #eee;
    padding: 5px 10px;
    width: 150px;
    top: 30px;
}

#chat p {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}

#chat article:first-of-type {
    background: #006f49;
    border-left-color: #ff0000;
    animation: enter .2s 1;
    color: white;
}

@keyframes enter {
    from { transform: none; }
    50% { transform: scale(1.05); }
    to { transform: none; }
}

#chatroom span {
	font-weight: bold;
}